<div class="" style="font-size: 16px">
	<p>Welcome <%= @resource.username %>!</p>
	<div style="">
		You have created new account at <span style="color: #15c;">https://revenueforms.com</span> with following Email and Username:
	<div>
	<div>
		<span style="font-weight: bold;text-decoration: none;">Email : <%= @resource.email %></span>
	</div>
	<div>
		<span style="font-weight: bold;">Username :</span> <%= @resource.username %>
	</div>
	<div>
		To get started with using your account, verify your account by clicking on the below link:
	</div>
	<div style="margin-top: 15px; margin-bottom: 15px;">
		<a style="background: #15c;color: white;padding: 8px 16px;border-radius: 6px;font-size: 16px;text-decoration: none;font-weight:bold;" href="https://<%= @host_name %>/users/confirmation?confirmation_token=<%= @token %>">Confirm my account</a>
	</div>
	<div>
		(Please don't reply at this mail.)
	</div>
	<div style="margin-top: 40px;">
		<div style="font-weight: bold;">From,</div>
		<div><b>Team RevenueForms</b></div>
	</div>
</div>
